@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body::-webkit-scrollbar{
  display:none;
  -webkit-overflow-scrolling: touch;
}
html{
  scroll-behavior: smooth;
  background-color:#000;
  color:#fff;
}
#layout{
  display: flex;
  gap: 30px;
  flex-direction: row;
  overflow-y:scroll;
  flex: 1 1 100%;
  text-align: left;
  margin-top: 0px;
  padding-left:40px;
  color:rgba(255,255,255,0.5);
  width:auto;
  
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 2px ;
    padding-right: 2px;
    font-size: 12px;
    margin-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.song_title{
  padding-left: 2px ;
  padding-right: 2px;
  font-size: 12px;
  margin-top: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  color:#fff;
}
.section{
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    padding: 20px;
    padding-left: 35px;
    padding-bottom: 12px;
    font-size: 24px;
    color:#fff;
 }
  .theme{
    color:rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-style: bold;
    text-transform: uppercase;
     font-weight: 700;
    letter-spacing: 1px;
  }

#layout::-webkit-scrollbar{
  display:none;
  -webkit-overflow-scrolling: touch;
}
.img{
  width: 160px;
  height: 240px;
  border-radius: 6px;
}
.song_img{
  width: 172px;
  height: 172px;
}
.def{
  color: black;
}
.inner-place{
  width: 160px !important;
  height: 240px !important;
  background-color:#151313;
  border-radius: 8px;
}
.songs_inner_place{
  width: 172px;
  height: 172px;
  background-color:#151313;

}

@media (min-width: 320px) and (max-width: 768px){
  .img{
    width: 110px;
    height: 165px;
    border-radius: 6px;
    
  }
  .inner-place{
    width: 120px !important;
    height: 170px !important;
    background-color:#151313;
    border-radius: 8px;
  }
  .songs_inner_place{
    width: 123px;
    height: 123px;
    background-color:#151313;
    border-radius: 8px;
  }
 .section{
  padding-left: 7px;
 }

 #layout{
  gap: 8px;
 }
 .title{
  font-size: 0.6rem;
 }
 #layout{
  padding-left: 7px;
 }
 .song_img{
  width: 123px;
  height: 123px;
  
 }
 
 .song_title{
  
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
 }
}